{% extends 'base.html.twig' %}

{% block body %}


    <table data-columns="{{ columns|json_encode }}" data-page-length="{{ pageLength }}">
        <thead>
            <tr>
                {% for column in columns %}
                    <th>{{ column.text }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody></tbody>
    </table>
{% endblock %}